*__pycache__*
output/*
dasheng/*
wavlm/*
results/*
logs/*
prompts/*
tasks/*
run/*
output_*/*
salmonn_data_v1.1/*
trainer_output/*
xuenan_data/*
data/*
compare_experiments/*
models/*
mount.sh
MMAU_Pro
test_*.py
debug_*.sh
tmp/*
data